#about {
    padding: 100px 10%;
    min-height: 100vh;
    animation: fadeIn 1.2s ease;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}

.about-image img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #D8C3A5;
    box-shadow: 0 0 35px rgba(16,185,129,0.35);
    transition: .4s;
}

.about-image img:hover {
    transform: scale(1.04);
    box-shadow: 0 0 45px rgba(16,185,129,0.55);
}


.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 48px;
    color: #D8C3A5;
    margin-bottom: 15px;
}


.about-text p {
    font-size: 18px;
    line-height: 1.9;
    color: #D6C7B0;
    margin-top: 20px;
}

.about-text strong {
    color: #10B981;
}


.about-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 60px;
}

.about-card {
    background: #3B111C;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    transition: .35s;
    border: 1px solid rgba(216,195,165,.15);
}

.about-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(16,185,129,.25);
}

.about-card h3 {
    color: #10B981;
    margin-bottom: 18px;
    font-size: 24px;
}

.about-card p {
    color: #D6C7B0;
    line-height: 1.8;
}


.about-journey {
    margin-top: 80px;
    background: #3B111C;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

.about-journey h2 {
    color: #D8C3A5;
    margin-bottom: 25px;
    font-size: 40px;
}

.about-journey p {
    max-width: 850px;
    margin: auto;
    color: #D6C7B0;
    line-height: 2;
    font-size: 18px;
}


@media (max-width:900px){

    .about-container{
        flex-direction:column;
        text-align:center;
    }

    .about-image img{
        width:280px;
        height:360px;
    }

    .about-cards{
        grid-template-columns:1fr;
    }

    .about-text h2{
        font-size:38px;
    }
}