#contact{
    min-height:100vh;
    padding:100px 10%;
    animation:fadeIn 1.2s ease;
}

.contact-container{
    max-width:1100px;
    margin:auto;
}

.contact-intro{
    text-align:center;
    margin-bottom:60px;
}

.contact-intro h2{
    font-size:45px;
    color:#D8C3A5;
    margin-bottom:30px;
}

.contact-intro h2::after{
    content:"";
    display:block;
    width:90px;
    height:3px;
    background:#10B981;
    margin:15px auto;
}

.contact-intro p{
    color:#D6C7B0;
    font-size:18px;
    max-width:750px;
    margin:auto;
    line-height:1.8;
}

.contact-content{
    display:flex;
    gap:40px;
    justify-content:center;
    margin-top:40px;
}

.contact-info{
    flex:1;
}

.contact-card{
    background:#3B111C;
    padding:25px;
    margin-bottom:20px;
    border-radius:18px;
    transition:.3s;
    border:1px solid rgba(216,195,165,0.15);
}

.contact-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(16,185,129,.25);
}

.contact-card h3{
    color:#10B981;
    margin-bottom:10px;
}

.contact-card p{
    color:#D6C7B0;
}

.contact-form{
    flex:1;
    background:#3B111C;
    padding:35px;
    border-radius:20px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    color:#D8C3A5;
    margin-bottom:8px;
}

.input-group input,
.input-group textarea{
    width:100%;
    padding:15px;
    border-radius:10px;
    border:none;
    outline:none;
    background:#2A0A12;
    color:#fff;
}

.input-group textarea{
    height:140px;
    resize:none;
}

.contact-form button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:30px;
    background:#10B981;
    color:#2A0A12;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-5px);
    background:#D8C3A5;
}

@media(max-width:850px){
    .contact-content{
        flex-direction:column;
    }
}