* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lora", serif;
    background: #2A0A12;
    color: #D8C3A5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background: #18050A;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #D8C3A5;
    opacity: .6;
}

.logo-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3B111C;
    color: #10B981;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #D8C3A5;
}


.nav-menu {
    display: flex;
    gap: 20px;
}



.nav-menu a {
    text-decoration: none;
    color: #F8FAFC;
    padding: 10px 22px;
    border-radius: 25px;
    transition: .3s;
}


.nav-menu a:hover {
    background: #4dab8c;
    color: #2A0A12;
}

.nav-menu a.active {
    background: #D8C3A5;
    color: #2A0A12;
}


.hero {
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 50px;
}



.hero-text {
    max-width: 650px;
}

.hero-text h1 {
    font-size: 55px;
    font-style: italic;
}



.hero-text h2 {
    color: #10B981;
    margin: 15px 0;
    font-style: italic;
}



.hero-text p {
    font-size: 18px;
    color: #D6C7B0;
}



.hero-image img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #c2d0cb;
    box-shadow: 0 0 40px rgba(16,185,129,.25);
}

.section {
    padding: 80px 10%;
    text-align: center;
    border-top: 1px solid rgba(216,195,165,.4);
}


.section h2 {
    font-size: 38px;
    margin-bottom: 30px;
}



.section p {
    max-width: 850px;
    margin: auto;
    color:#D6C7B0;
    font-size:18px;
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #4dab8c;
    color: #2A0A12;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 20px;
}


.button:hover {
    background: #D8C3A5;
    transform: translateY(-5px);
}

.projects {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
    margin-top:20px;
}


.card {
    background:#3B111C;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
    transition:.4s;
}

.card img {
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

.card h3 {
    color:#10B981;
    font-size:25px;
    margin:20px;
}


.card p {
    color:#D6C7B0;
    padding:0 20px 25px;
}


.card:hover {
    transform:translateY(-12px);
    box-shadow:0 15px 35px rgba(16,185,129,.25);
}

.button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #4dab8c;
    color: #2A0A12;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    margin-top:auto;
    padding:25px;
    text-align:center;
    background:#18050A;
    border-top:1px solid #D8C3A5;
}


.footer-links {
    margin-top:10px;
}


.footer-links a {
    color:#D8C3A5;
    margin:0 8px;
}

.footer-links a:hover {
    color:#10B981;
}

@media(max-width:900px){
    .hero {
        flex-direction:column;
        text-align:center;
    }

    .hero-image img {
        width:280px;
        height:350px;
    }

    .projects {
        grid-template-columns:1fr;
    }

    .nav-menu {
        gap:10px;
    }
}